---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$link-color: darken(#E5936B,20%);


body{
	font-weight: 400;
	font-size: 15px;
}
i.fa {
	margin-right: 5px;
}
ul.social-media-list {
	list-style: none;
}

.navbar {
	font-size: 16px;
}

.course-title, .post-title, .page-title {
	margin-top: 64px;
	padding: 10px;
	background: url(/images/chevron.jpg);
	background-position: left center;
	background-repeat: repeat-x;
	text-align: center;
	vertical-align: middle;
}



.course-title h2, .page-title h2, .post-title h2 {
	color: #fff;
	margin-bottom: 23px;
}

.jumbotron {
	background: url(/images/chevron.jpg);
	background-repeat: repeat-x; 
	background-position: left center;
	font-weight: 900;
	text-align: center;
	vertical-align: middle;
}

.jumbotron h1,.jumbotron p {
	color: #fff;
}

a {
	color: $link-color;
}


a:hover {
	color: lighten($link-color,20%);	
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
}