---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$link-color: #063440;


body{
	font-weight: 400;
	font-size: 14px;
}
i.fa {
	margin-right: 5px;
}
ul.social-media-list {
	list-style: none;
}

.navbar {
	font-size: 16px;
}

.course-title, .post-title, .page-title {
	margin-top: 64px;
	padding-top: 5px;
}

.jumbotron {
	padding-top: 0px;
	background: url(/images/chevron.jpg);
	background-repeat: repeat-x; 
	background-position: left center;
	font-weight: 800;
	color: #fff;
}
.jumbotron h1 {
	color: #fff;
}

a {
	color: $link-color;
}
a:hover {
	color: lighten($link-color,15%);	
}
a:visited {
	color: $link-color;
}
a:active {
	color: $link-color;	
}