<div class="container">
      <nav class="navbar navbar-default navbar-fixed-top" role="banner">
      <div  class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {% for page in site.pages %}
              {% if page.title %}
              <li><a href='{{ page.url | prepend: site.basurl }}'>{{ page.title }} </a></li>
              {% endif %}
            {% endfor  %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Courses <span class="caret"></span></a>
              <ul class="dropdown-menu">
              {% for course in site.courses %}
                {% if course.status == 'active' %}
                  <li><a href='{{ course.url | prepend: site.baseurl   }}'>{{ course.title}} </a></li>
                {% endif %}
              {% endfor  %}
              </ul>
            </li>
              <!-- end dropdown -->
            <li><a href="{{site.baseurl | append: '/sage'}}">Sage Tutorial</a></li>
          </ul>
        </div><!--/.nav-collapse -->
        </div>
    </nav>
</div>
